<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; ShareList 2022</span>
        <div class="float-right">
            <a href='/terms-of-service' class='text-decoration-none text-light'>Terms of Service</a> |
            <a href='/privacy-policy' class='text-decoration-none text-light'>Privacy Policy</a> |
            <a href='/contact' class='text-decoration-none text-light'>Contact Us</a>

        </div>
    </div>
</footer>